/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
}

body {
  font-family: 'Raleway', sans-serif;
}

.main {
  display: flex;
}

.topheader {
    height: 80px;
    width: 100%;
    color: #afafaf;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}

.topheader li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.topheader li a {
  text-decoration: none;
  color: #afafaf;
}

.topheader li a:hover {
  text-decoration: none;
  color: #000;
}

.topheader li h3 {
  border: 1px solid #fcdc4b;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  background-color: #ffeb14;
}

.topheader li h3 a {
  color: black;
}

.main {
  display: flex;
}

.header {
  color: #e84a4a;
  text-align: center;
}

.header h1{
  font-size: 50px;
}

.welcome {
  background-color: rgba(0, 0, 0, 0.0);
  height: 100%;
  text-align: center;
  border: 1px solid white;
}

.welcome h2 {
  color: #54BFFF;
  font-size: 50px;
  margin-bottom: 150px;
}

.welcome a {
  text-decoration: none;
}

.picture {
  background-image: url(http://res.cloudinary.com/angela2389/image/upload/v1478076629/housesmall_zxvcnd.jpg);
  background-size: cover;
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.hire {
  text-align: center;
  flex: 1;
}

.hire h1 {
  color: #FC992B;
  font-size: 100px;
}

.me {
  padding-top: 100px;
  text-align: center;
  flex: 1;
}

.me h1 {
  font-size: 100px;
}

.me img {
  width: 50px;
}

.experience {
  flex: 2;
}

.experience h1 {
  color: #54BFFF;
}

#jobs {
}

.education {
  margin-left: 20px;
}

#notice {
  font-size: 30px;
}
